/test/nbproject/private/
/test/build/
/chapter_2_35/nbproject/private/
/chapter_2_35/build/
/chapter_2_35/dist/
/test/dist/
/Evidence_01/nbproject/private/
/Evidence_01/build/
/Chapter_3_p78/nbproject/private/
/Chapter_3_p78/build/
/Chapter_4/nbproject/private/
/Chapter_4/build/
/Chapter_5_p158/nbproject/private/
/Chapter_5_p158/build/
/Chapter_6_p104/nbproject/private/
/Chapter_6_p104/build/
/Chapter_7_p246/nbproject/private/
/Chapter_7_p246/build/
/Chapter_09/nbproject/private/
/Chapter_09/build/
/Chapter_10/nbproject/private/
/Chapter_10/build/
/Chapter_11/nbproject/private/
/Chapter_11/build/
/Chapter_12/nbproject/private/
/Chapter_12/build/
/Chapter_13/nbproject/private/
/Chapter_13/build/
/Chapter_17/nbproject/private/
/Chapter18/nbproject/private/
/Chapter18/build/
/Evidence/nbproject/private/
/Evidence/build/
/Evidence2/nbproject/private/
/Evidence2/build/
/TestMcq/nbproject/private/
/TestMcq/build/
/Evidence3/nbproject/private/
/Evidence3/build/
/Chapter_19/nbproject/private/
/Chapter_17/build/
/Chapter_20/nbproject/private/
/Chapter_20/build/
/Chapter_21/nbproject/private/
/Chapter_21/build/
/Chapter_23/nbproject/private/
/Chapter_23/build/
/Chapter_24/nbproject/private/
/Chapter_24/build/
/Chapter_19/build/
/Chapter_25/nbproject/private/
/F]]]/nbproject/private/
/Chapter_22/nbproject/private/
/Chaptre_22/nbproject/private/
/Chaptre_22/build/