/test/nbproject/private/
/test/build/
/chapter_2_35/nbproject/private/
/chapter_2_35/build/
/chapter_2_35/dist/
/test/dist/
/Evidence_01/nbproject/private/
/Evidence_01/build/
/Chapter_3_p78/nbproject/private/
/Chapter_3_p78/build/
/Chapter_4/nbproject/private/
/Chapter_4/build/
/Chapter_5_p158/nbproject/private/
/Chapter_5_p158/build/
/Chapter_6_p104/nbproject/private/
/Chapter_6_p104/build/